{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/иконка/солнце-transformed.png' %}" type="image/x-icon">
    <title>L-ASTROPROEKT</title>
    <link rel="stylesheet" href="{% static 'css/normalize_v1.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/about_me_v1.css' %}">


</head>


<body>
{% include 'header.html' %}
<main>
    <div class="home">
        <div class="avtor_kursov">
            <p>Автор курсов: «Астрология ПРОСТО», «Финансы и богатство», «Сам себе астролог», «АстроStart» и др.
                Автор различных астрологических пособий, мастер-классов. Основатель школы астрологии L-Астропроект
            </p>
        </div>
        <div class="ludmila">
            <p class="ludmila-text">Людмила <br> Ясина</p>
            <p class="ved_astr">ведический астролог</p>
        </div>
        <div class="lico">
            <img src="{% static 'img/2page/licocomp2.png' %}" alt="">
            <div class="missia">
                <p>Моя миссия - найти супер силу в человеке, помочь найти смысл жизни и обрести гармонию во всех
                    сферах.
                    И это я про все сферы жизни - отношения, работа, друзья, семья, хобби, деньги, внутренний
                    комфорт и
                    даже духовная эволюция. Все, что окружает, начинается с ТЕБЯ!</p>
            </div>

        </div>

    </div>
    <div class="blocktexta">
        <div class="mnogonext">
            <p>Я имею большой опыт в ведении бизнеса, а также много лет руководящей работы в различных направлениях:
                автошкола, снабжение завода, профтехобразование, спортивная школа, автосервис, школа
                программирования. Кроме того, у меня есть семью, я замужем и я многодетная мама.<br>
                С 2018 года я начала профессионально заниматься астрологией. Консультирую и обучаю других.
                Основатель школы астрологии L-Астропроект. Автор обучающих курсов по астрологии, также пишу статьи,
                разрабатываю различные методические астрологические пособия, провожу мастер-классы и вебинары.Я
                новая, этому научу и тебя! <br>
                Через свободу и познание себя можно переродиться и стать новой лучшей версией себя. А я в этом
                помогу
                Если у тебя не хватает сил для новых начинаний, ставишь цели, но не можешь к ним прийти, потому что
                что-то тебе мешает, проживаешь дни одинаково, живешь в усталости, не знаешь как реализовать себя…
                или же у тебя трудности в отношениях с друзьями, коллегами, партнерами, не видишь смысла жизни…<br>Тогда
                тебе ко мне!<br>
                Консультирую и обучаю самым разным направлениям: взаимоотношения, бизнес, финансы, предназначение,
                профориентация для подростков, детский гороскоп, астрология здоровья, астроминералогия и подбор
                камней, астрологические прогнозы и многое другое.
            </p>
        </div>
        <a class="zapistsa" href="{% url 'express_konsultacia' %}">
                <p>Записаться на Консультацию</p>
        </a>

    </div>
</main>
{% include 'footer.html' %}
<script src='{% static "js/header.js" %}'></script>
</body>

</html>