{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L-ASTROPROEKT</title>
    <link rel="stylesheet" href="{% static 'css/free_prognoz_v1.css' %}">
    <link rel="icon" href="{% static 'img/иконка/солнце-transformed.png' %}" type="image/x-icon">
</head>
<body>
{% include 'header.html' %}
<main>
    <div class="free_astro_prognoz">
        <p>Бесплатные астропродукты</p>
    </div>
    <div class="bespatnyi_entensiv">
        <p>БЕСПЛАТНЫЙ <br>
            интенсив-практикум “Узнай свои жизненные задачи”</p>
    </div>
    <div class="chto_na_intensiv">
        <p>На этом бесплатном и полезном мини-знакомстве с астрологией, вы сможете самостоятельно узнать о некоторых
            задачах вашего воплощения.</p>
    </div>
    <div class="kartinka_free_intens">
        <img src="{% static 'img/free_prognoz/NAVAGRAHA-940x450-1 1.png' %}" alt="">
    </div>
    <div class="block_za_3_dny">
        <div class="za_3_dny">
            За 3 дня вы:
        </div>
        <div class="stroka_3_dny">
            <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="">
            <p>научитесь строить натальные карты и разбирать их;</p>
        </div>
        <div class="stroka_3_dny">
            <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="">
            <p>поймете в чем отличие Джйотиш от западной астрологии;</p>
        </div>
        <div class="stroka_3_dny">
            <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="">
            <p>поймете в чем отличие Джйотиш от западной астрологии;</p>
        </div>
        <div class="stroka_3_dny">
            <img src="{% static 'img/master_class/192ecc31dbbc9890c562d4bda0fff73f.gif' %}" alt="">
            <p>познакомитесь с темой ретроградных планет и тем,<br> какие кармические задачи они закладывают.</p>
        </div>
    </div>
    <div class="izeuchenie_luboe_vremy">
        Изучение в удобное для вас время!
    </div>
    <a class="svyzatsy_snami" href="https://vk.com/app5898182_-182371534#s=1955131">
        <p>ЗАБЕРИ ПО ССЫЛКЕ</p>
    </a>
    <div class="linia"></div>
    <div class="metod_posob">
        Методическое пособие <br>
        “Узнай свои жизненные задачи”
    </div>
    <div class="pri_pomoshi_gaida">
        При помощи этого бесплатного гайда у вас появляется возможность познакомиться с инструментом, который я
        использую в работе - натальная карта или ваш персональный космический паспорт. А поможет тебе в этом
        Бот-помощник.
    </div>
    <div class="kniga_unnamed">
        <img src="{% static 'img/free_prognoz/unnamed 1.png' %}" alt="">
    </div>
    <a class="svyzatsy_snami_2" href="https://web.telegram.org/a/#6208768327">
        <p>СКАЧАТЬ БЕСПЛАТНО</p>
    </a>

    <div class="metod_posob">
        Бесплатный гайд<br>
        “Построение натальной карты”
    </div>
    <div class="pri_pomoshi_gaida">
        Это пособие поможет вам самостоятельно построить свою натальную карту и определить свой ВОСХОДЯЩИЙ И даже ЛУННЫЙ
        ЗНАК самостоятельно!
    </div>
    <a class="svyzatsy_snami_2" href="https://web.telegram.org/a/#6208768327">
        <p>СКАЧАТЬ БЕСПЛАТНО</p>
    </a>
    <div class="izeuchenie_luboe_vremy">
        Видео-инструкцию смотри по <br>
        <a class="link_instr" href="https://disk.yandex.ru/i/l2YvUgcnobyplQ">ссылке</a>
    </div>

</main>
{% include 'footer.html' %}
</body>
</html>